@charset "utf-8";
.container-fluid .navbar.navbar-expand-lg.navbar-light {
    background-color: #FFFFFF;
    border-bottom-style: double;
    border-bottom-width: 5px;
	border-top: solid;
	border-top-color: silver;	
}

#logo {
    padding-top: 10px;
    padding-bottom: 10px;
}
.container .row .col-xl-4 {
	border-left-style: solid;
	border-left-color: silver;
}
.container {
	padding-top: 10px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}.col-xl-4 center h1 {
    font-family: algerian;
    font-size: 48px;
	
}
