@charset "utf-8";
.container-fluid .navbar.navbar-expand-lg.navbar-light {
    background-color: #FFFFFF;
    border-bottom-style: double;
    border-bottom-width: 3px;
	border-top: 1px solid;
	border-top-color: silver;	
}

#logo {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar.navbar-expand-lg.navbar-light #navbarSupportedContent1 .navbar-nav.mr-auto {
    margin: 0px auto;
}


.container {
	padding-top: 10px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
#logo {
    font-family: algerian;
    font-size: 48px;
	text-align: center;
}
.container-fluid .container .row {
    padding-top: 10px;
	padding-bottom: 5px;
}

.row {
	margin: 0px auto;
}
.container-fluid .container .row {
    margin-top: 0px;
}
.row .col-xl-9 .row {
	border-bottom: 1px solid black;
}
.container-fluid .container footer {
	border-top: 3px double silver;
}
